{
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "import",
    "prettier",
    "jest"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      }
    }
  },
  "rules": {
    "linebreak-style": 0,
    "no-param-reassign": [2, {
      "props": false
    }],
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
//    "prefer-destructuring": 0,
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],
    "prettier/prettier": ["error"],
    "import/named": "off" // jest manual mocks
  }
}
