<div class="chat-box__header-title">{{{title}}}</div>
<div class="chat-box__header-info{{#if isMember}} chat-box__header-info_member{{#if online}} chat-box__header-info_online{{/if}}{{/if}}">{{info}}</div>
