<div class="chat-sidebar__user-avatar">
  <img
          class="chat-sidebar__user-avatar-image"
          src="{{avatar}}"
  >
</div>
<div class="chat-sidebar__user-name">{{username}}</div>
<button class="chat-sidebar__user-btn">
  <svg class="chat-sidebar__user-btn-icon" width="8" height="8">
    <use xlink:href="#down"></use>
  </svg>
</button>
