.chat-sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 220px;
  flex-shrink: 0;
  max-width: 260px;
  background: #4d394b;
  z-index: 1;
}

.chat-sidebar__user {
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  flex-basis: 60px;
  padding: 10px 10px;
  display: flex;
  margin-bottom: 10px;

  &:hover,
  &.active {
    background: $color-secondary;
  }

  &:hover .chat-sidebar__user-btn-icon,
  &.active .chat-sidebar__user-btn-icon {
    fill: #ffffff;
  }
}

.chat-sidebar__user-avatar {
  width: 50px;
  padding-right: 10px;
  text-align: right;
  flex-shrink: 0;
}

.chat-sidebar__user-avatar-image {
  border-radius: 3px;
  display: block;
  width: 40px;
  height: 40px;
}

.chat-sidebar__user-name {
  font-size: 16px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 8px;
  line-height: 40px;
}

.chat-sidebar__user-btn {
  outline: 0;
  background: 0 0;
  border: 0;
  padding: 0;
  font-size: 0;
}

.chat-sidebar__user-btn-icon {
  fill: $color-primary;
  width: 8px;
  height: 8px;
  cursor: pointer;
}

.chat-sidebar__list {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  position: relative;
}

.chat-sidebar__rooms {
  margin-bottom: 20px;
}

.chat-sidebar__title {
  color: #b8b0b7;
  padding: 0 10px;
  font-size: 16px;
  height: 26px;
}
